<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{{ the_title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<style>
    p {
        margin: 4px;
        font-size: 20px;
        text-align: center;
    }
</style>

<body>
    <p><b>Меню</b></p>
    <p><b>на {{ data }} года</b></p>

    <div style="float: left; width: 49%;">
        {% for category, foods in first_part_menu.items() %}
            <p><b>{{ category }}</b></p>
            {% for food in foods %}
                <div style="display: flex; width: 98%">
                    <div style="text-align: left; width: 85%; font-size: 2.3vh;">{{ food[0] }}</div>
                    <div style="text-align: right; width: 15%; font-size: 2.3vh;">{{ food[5] }} руб.</div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div style="float: right; width: 49%;">
        {% for category, foods in second_part_menu.items() %}
            <p><b>{{ category }}</b></p>
            {% for food in foods %}
                <div style="display: flex; width: 98%">
                    <div style="text-align: left; width: 85%; font-size: 2.3vh;">{{ food[0] }}</div>
                    <div style="text-align: right; width: 15%; font-size: 2.3vh;">{{ food[5] }} руб.</div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="clear"></div>
</body>
</html>